<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><% if (locals.title) { %><%= title %> | <% } %>WebWeaver</title>
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/bootstrap-icons/bootstrap-icons.css">
<script src="/static/bootstrap/js/bootstrap.bundle.min.js" defer></script>