<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/head'); %>
    <style>
        .nav-pills {
            --bs-nav-pills-link-active-color: var(--bs-white);
            --bs-nav-pills-link-active-bg: var(--bs-dark);
            --bs-nav-link-color: var(--bs-dark);
            --bs-nav-link-hover-color: var(--bs-black);
        }

        @media (max-width: 767.98px) { 
            #settings-menu-tablist {
                width: 100%;
            }
        }
    </style>
</head>

<body>
    <%- include('./components/navbar'); %>

    <div class="container pt-lg-3">
        <div class="d-md-flex align-items-start">
            <div id="settings-menu-tablist" class="nav flex-column flex-sm-row flex-md-column nav-pills nav-fill mb-4 mb-md-0 me-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <button class="nav-link text-start active" id="v-pills-email-tab" data-bs-toggle="pill" data-bs-target="#v-pills-email" type="button" role="tab" aria-controls="v-pills-email" aria-selected="true">Email</button>
                <button class="nav-link text-start" id="v-pills-security-tab" data-bs-toggle="pill" data-bs-target="#v-pills-security" type="button" role="tab" aria-controls="v-pills-security" aria-selected="false">Security</button>
                <button class="nav-link text-start" id="v-pills-payments-tab" data-bs-toggle="pill" data-bs-target="#v-pills-payments" type="button" role="tab" aria-controls="v-pills-payments" aria-selected="false" disabled>Payments</button>
                <button class="nav-link text-start" id="v-pills-privacy-tab" data-bs-toggle="pill" data-bs-target="#v-pills-privacy" type="button" role="tab" aria-controls="v-pills-privacy" aria-selected="false">Privacy</button>
            </div>
            <div class="tab-content col-12 col-md-8 col-lg-6" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-email" role="tabpanel" aria-labelledby="v-pills-email-tab" tabindex="0">
                    <h2 class="fs-4">Email settings</h2>
                    <form>
                        <div class="mb-3">
                            <label for="inputEmail" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="inputEmail">
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="newsletterCheck">
                            <label class="form-check-label" for="newsletterCheck" aria-describedby="newsletterHelp">I would like to receive occasional emails about new features, offerings.</label>
                            <div id="newsletterHelp" class="form-text">You can always unsubscribe later.</div>
                        </div>
                        <div class="mb-3">
                            <label for="inputPassword" class="form-label">Confirm your password</label>
                            <input type="password" class="form-control" id="inputPassword">
                        </div>
                        <button type="submit" class="btn btn-dark">Save</button>
                    </form>
                </div>
                <div class="tab-pane fade" id="v-pills-security" role="tabpanel" aria-labelledby="v-pills-security-tab" tabindex="0">
                    <h2 class="fs-4">Security settings</h2>
                    <h3 class="fs-5">Change password</h3>
                    <form>
                        <div class="mb-3">
                            <label for="inputCurrentPassword" class="form-label">Current password</label>
                            <input type="password" class="form-control" id="inputCurrentPassword">
                        </div>
                        <div class="mb-3">
                            <label for="inputNewPassword" class="form-label">New password</label>
                            <input type="password" class="form-control" id="inputNewPassword">
                        </div>
                        <div class="mb-3">
                            <label for="inputConfirmNewPassword" class="form-label">Confirm new password</label>
                            <input type="password" class="form-control" id="inputConfirmNewPassword">
                        </div>
                        <button type="submit" class="btn btn-dark">Save</button>
                    </form>
                </div>
                <div class="tab-pane fade" id="v-pills-payments" role="tabpanel" aria-labelledby="v-pills-payments-tab" tabindex="0">
                    <h2 class="fs-4">Payments settings</h2>
                </div>
                <div class="tab-pane fade" id="v-pills-privacy" role="tabpanel" aria-labelledby="v-pills-privacy-tab" tabindex="0">
                    <h2 class="fs-4">Privacy settings</h2>
                    <div class="p-2 rounded border border-danger bg-danger bg-opacity-10">
                        <h3 class="fs-5 text-danger">Delete account</h3>
                        <p class="text-danger mb-2">Account deletion is instant and permanent.</p>
                        <button id="delete-account-button" type="button" class="btn btn-danger">Delete my account now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const deleteAccountButton = document.getElementById('delete-account-button');
        deleteAccountButton.addEventListener('click', async () => {
            await fetch('/account', {
                method: 'DELETE'
            });
            await logOut();
        });
    </script>

    <%- include('./components/foot'); %>
</body>

</html>