<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/head'); %>
</head>

<body>
    <div class="container py-5">
        <h1>Your sites</h1>
        <div class="gap-4 mt-4" style=" display: grid; grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));">
            <div class="card text-bg-light">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <span>Unpublished</span>
                    <span class="badge rounded-pill text-bg-light">Free</span>
                </div>
                <div class="card-body">
                    <h5 class="card-title">My first site</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad amet consequatur voluptatibus quod nesciunt nam.</p>
                </div>
            </div>
            <div class="card text-bg-light">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <a href="#">example.com</a>
                    <span class="badge rounded-pill text-bg-dark">Pro</span>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Personal</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui magnam obcaecati molestias.</p>
                </div>
            </div>
            <div class="card text-bg-light">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <span>Unpublished</span>
                    <span class="badge rounded-pill text-bg-light">Free</span>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Animal shelter</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat nulla neque reiciendis nobis doloribus.</p>
                </div>
            </div>
            <div class="card text-bg-light">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <span>Unpublished</span>
                    <span class="badge rounded-pill text-bg-light">Free</span>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Art project</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores, molestiae.</p>
                </div>
            </div>
            <div class="card text-bg-light">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <a href="#">example.com</a>
                    <span class="badge rounded-pill text-bg-dark">Pro</span>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Museum</h5>
                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta asperiores modi nisi quis vero odio facere. Quod!</p>
                </div>
            </div>
            <div class="card text-bg-light">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <span>Unpublished</span>
                    <span class="badge rounded-pill text-bg-light">Free</span>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Bob's Party</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                </div>
            </div>
            <div class="card text-bg-light">
                <div class="h-100 d-flex align-items-center justify-content-center p-5">
                    <div class="text-muted d-flex flex-column text-center">
                        <i class="bi bi-plus-lg fs-1"></i>
                        <a href="#" class="stretched-link text-reset text-decoration-none">Create new site</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>