.nav-pills {
    --bs-nav-pills-link-active-color: var(--bs-white);
    --bs-nav-pills-link-active-bg: var(--bs-dark);
    --bs-nav-link-color: var(--bs-dark);
    --bs-nav-link-hover-color: var(--bs-black);
}

.form-check-input:focus {
    border-color: var(--bs-dark);
}

.form-check-input:checked {
    background-color: var(--bs-dark);
    border-color: var(--bs-dark);
}

@media (max-width: 767.98px) { 
    #settings-menu-tablist {
        width: 100%;
    }
}